extends layout

block body
  div
    h2 pingpong.js
    div(ng-view)

  script(src='components/angular/angular.js')
  script(src='components/socket.io-client/dist/socket.io.js')
  script(src='angular/bundle.js')
  // script(src='angular/js/app.js')
  // script(src='angular/js/services.js')
  // script(src='angular/js/controllers.js')
  // script(src='angular/js/filters.js')
  // script(src='angular/js/directives.js')
