extends layout

block body
  div(ng-controller='AppCtrl')
    h2 pingpong.js
    ul.menu
      li
        a(href='stream/home') home
      li
        a(href='stream/firehose') firehose

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
