!!!
html(ng-app="pingpongApp")
  head
    meta(charset='utf8')
    base(href='/')
    title pingpong.js
    link(rel='stylesheet', href='/css/app.css')
    script(src='components/requirejs/require.js')
  body
    block body
